<% @singers.each do |singer| %>
<p>
	<%= image_tag singer.image.url(:medium) %>
	<%= singer.title %>
	<%= singer.user.email %>
	<%= link_to 'Show', singer_path(singer) %>
	<%= link_to 'Edit', edit_singer_path(singer) %>
	<%= link_to 'Delete', delete_singer_path(singer), method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
<% end %>