<p>
	<%= image_tag @singer.image.url(:medium) %><br>
	<%= @singer.title %><br>
	<%= @singer.body %>
	

</p>
<%= link_to 'Edit', edit_singer_path(@singer) %>
<%= link_to 'Delete', delete_singer_path(@singer), method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'Back', root_path %>